{% extends 'base.html.twig' %}


{% block body %}
    <center><h1>Bonjour vous êtes sur la {{ controller_name }} ! </h1></center>
    {% for stage in stages %}
        <tr>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <td>
                        <a href="{{path('pro_stages_stage',{id:stage.id})}}"><p>{{stage.titre}}</p></a>
                    </td>
                </div>
                
                <div class="col-md-4 col-xs-12">
                    <td>
                        <p>{{stage.entreprise.nom}}</p>
                    </td>
                </div>

                <div class="col-md-4 col-xs-12">
                    <td>
                        {% for formation in stage.formations %}
                            |{{formation.nomCourt}}|
                        {% endfor %}
                    </td>
                </div>
            </div>
        </tr>
    {% endfor %}
{% endblock %}