{% extends 'base.html.twig' %}


{% block body %}
    <!-- Titre de page -->
    <center><h1>Vous êtes sur la {{ controller_name }} ! </h1></center>

    <!-- tableau du stage  -->
    <table class="table table-bordered border-dark table-Secondary table-striped">
        <tbody>
            <tr>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                         <td>
                            <h4> Titre </h4>
                        </td>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <td>
                            {{ stage.titre }}
                        </td>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                         <td>
                            <h4> Mission </h4>
                        </td>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <td>
                            {{ stage.mission }}
                        </td>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                         <td>
                            <h4> Email </h4>
                        </td>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <td>
                            {{ stage.email }}
                        </td>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                         <td>
                            <h4> Entreprise </h4>
                        </td>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <td>
                            {{ stage.entreprise.nom }}
                        </td>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                         <td>
                            <h4> Formations </h4>
                        </td>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <td>
                            {% for formation in stage.formations %}
                                {{formation.nomLong}}
                                {% if not loop.last %}
                                    et
                                {% endif %}
                            {% endfor %}
                        </td>
                    </div>
                </div>
            </tr>
        </tbody>    
    </table>
{% endblock %}