<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStages{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
		{% block tête %}
			<center><a href="{{path('pro_stages_accueil')}}"><img src="{{ asset('/Logo/logo_small.png') }}" style="align:middle;"></a></center>
		{% endblock %}
        {% block body %}
		<style>
			.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
			.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
		</style>

		<div class="example-wrapper">
			{% block titre %}
				<h1>Bonjour vous êtes sur la page {{ controller_name }}! </h1>
			{% endblock %}
			
			Pages :
			<ul>
				<li><a href="{{path('pro_stages_entreprises')}}">Trie par entreprises</a></li>
				<li><a href="{{path('pro_stages_formations')}}">Trie par formations</</a></code></li>
			</ul>
		</div>
		{% endblock %}
		
    </body>
</html>
